.dropdown {
    position: relative;
}

.dropdown__menu {
    display: none;
    position: absolute;
    right: 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    min-width: 160px;
    background: rgb(255, 255, 255);
}

.dropdown.active .dropdown__menu {
    display: block;
    z-index: 500;
}

.dropdown__menu-item {
    display: block;
    padding: 4px 8px;
    width: 100%;
    text-align: left;
}

.dropdown__menu-item:hover {
    background-color: rgb(214, 214, 214);
}

.dropdown--right .dropdown__menu {
    left: 0;
}
