body {
  margin: 0px;
  font-family: Montserrat;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: normal;
  font-size: 1rem;
}

figure {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

button {
  padding: 0px;
  font-size: 1rem;
  font-family: Montserrat;
  border-style: none;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
}

button:focus {
  outline-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

span {
  display: inline-block;
}

body {
  line-height: 1.5;
  margin: 0px;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
}

legend {
  padding: 0px;
}

input {
  width: 100%;
  border-style: none;
  border-color: black;
  font-size: 1rem;
  color: black;
  background-color: transparent;
}

input::placeholder {
  color: gray;
}

input:focus {
  outline-style: none;
  border-color: red;
}

select {
  width: 100%;
  border-style: none;
  border-color: black;
  background-color: transparent;
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
}

select:focus {
  outline-style: none;
}

* {
  box-sizing: border-box;
}

.button {
  padding: 4px 8px;
  background-color: black;
  color: white;
  border-radius: 4px;
}
.button--icon {
  padding: 4px;
}

.icon {
  font-family: Material Icons;
  font-size: 24px;
  line-height: 1;
  vertical-align: top;
  white-space: nowrap;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__menu {
  display: flex;
}

.navigation__menu-item {
  padding: 1rem;
}

.modal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

.modal.active {
  display: flex;
}

.modal__dialog {
  background-color: white;
  padding: 8px 0px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  max-height: 90vh;
  overflow-y: scroll;
  min-width: 50%;
}

.modal__head {
  display: flex;
  padding: 0px 1rem;
  align-items: center;
}

.modal__title {
  flex-grow: 1;
}

.modal__body {
  border-style: solid none solid none;
  border-width: 1px;
  padding: 16px 1rem;
  margin: 8px 0px;
}

.modal__foot {
  padding: 8px 1rem;
  display: flex;
  justify-content: flex-end;
}

.modal__foot > :not(:last-child) {
  margin-right: 4px;
}

.form__control {
  padding: 6px 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}

.form__group {
  margin-bottom: 1em;
}

.fieldset__legend {
  display: flex;
  align-items: center;
}
.fieldset__title {
  flex-grow: 1;
}

.form__feedback {
  font-size: 0.75rem;
  color: red;
  display: none;
}

.form.form--validated .form__control:invalid + .form__feedback {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown__menu {
  display: none;
  position: absolute;
  right: 0px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  min-width: 160px;
  background: white;
}

.dropdown.active .dropdown__menu {
  display: block;
  z-index: 500;
}

.dropdown__menu-item {
  display: block;
  padding: 4px 8px;
  width: 100%;
  text-align: left;
}

.dropdown__menu-item:hover {
  background-color: #d6d6d6;
}

.dropdown--right .dropdown__menu {
  left: 0;
}

.checkbox {
  padding: 4px 8px;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 4px;
}
.checkbox > .icon {
  visibility: hidden;
}
.checkbox.active > .icon {
  visibility: visible;
}

.node__head {
  display: flex;
  align-items: center;
}

.node__title {
  flex-grow: 1;
}

.node__values {
  flex-grow: 1;
  padding: 0px 8px;
}

.node--grid-item .node__head {
  align-items: flex-start;
}

.node--grid .node__body {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 640px) {
  .node--grid .node__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .node--grid .node__body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1640px) {
  .node--grid .node__body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.node--grid-item {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 8px;
}

.node--tree .node__head {
  display: block;
}

.node--tree-item .node__head {
  display: flex;
}

.node--tree-item.active {
  background-color: red;
  cursor: pointer;
}

.node--tree-item .node--tree-item {
  margin-left: 1rem;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.hidden {
  display: none;
}

.container {
  padding: 0px 4rem;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0px;
  }
}
:root {
  --color-1: #071E22;
  --color-2: rgb(41, 100, 100);
  --color-3: #a1b46b;
  --color-4: rgb(255, 223, 197);
  --color-5: #EE2E31;
}

body {
  color: var(--color-4);
  background-color: var(--color-1);
}

.gradient {
  background: #120033;
  background: linear-gradient(0deg, #120033 0%, #071e22 100%);
}

a {
  color: var(--color-4);
}

iframe {
  border: none;
}

* {
  box-sizing: border-box;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content * {
  margin-right: 8px;
}

.grid {
  display: grid;
  grid-gap: 32px;
  margin-bottom: 16px;
}

figure {
  margin: 0px;
}

@media (min-width: 640px) {
  .grid--2, .grid--auto {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .grid--auto {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.subtitle {
  max-width: 75%;
  margin: 16px auto;
  text-align: justify;
}

.button {
  background-color: var(--color-2);
  padding: 8px;
  border-radius: 4px;
  display: inline-flex;
  color: var(--color-4);
  user-select: none;
  cursor: pointer;
}

hr {
  margin: 16px 0px;
}

figcaption {
  margin-top: 8px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {
  height: auto;
}

@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
.image-overlay {
  position: absolute;
  top: 0;
  background: var(--color-1);
  background: rgba(7, 30, 34, 0.5);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.icon-big {
  font-size: 6em;
  color: var(--color-4);
}

.image-container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border: none;
}

.input {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  padding: 8px;
  border-style: none;
  border-radius: 4px;
  flex-grow: 1;
  background-color: var(--color-2);
  margin-right: 16px;
  color: var(--color-4);
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6820cd;
  background: linear-gradient(180deg, #6820cd 0%, #071e22 100%);
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.navbar {
  display: flex;
  padding: 1rem;
  background-color: var(--color-1);
  width: 100%;
}

.navigation {
  padding: 0.5rem 1rem;
}

.navigation__menu-item {
  color: var(--color-4);
}

.navigation__brand {
  font-size: 1.5rem;
  margin-right: 2rem;
  font-weight: bold;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  padding: 1rem;
}

.map {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .row {
    display: block;
  }
}
a {
  color: var(--color-4);
}

.navigation {
  background-color: var(--color-2);
}

textarea {
  resize: none;
}

.form__control {
  background-color: var(--color-4);
}

.form__control:focus {
  border-color: var(--color-2);
}

h3 {
  margin: 0.5em 0px;
}

/*# sourceMappingURL=main.css.map */
